/build-stamp
/config.*
/config
/configure
/aclocal.m4
/autom4te.cache
# autoconf debris
/INSTALL
/libtool

Makefile
Makefile.in
.libs
.dirstamp
*.o
*.orig
*.lo
*.la
*~
\#*#
/lib/iptables/.deps
/.pybuild
/setup.py
/lib/python/vplaned.egg-info
/lib/python/vplaned/__pycache__
/lib/python/vplaned/tests/__pycache__
/lib/python/vplaned/tests/test_vplaned.pyc

